@page
@model WebApp.Pages.Home.ForgetPasswordModel
@{
}


<div id="appvue">

    <register-component></register-component>

    <section class="youplay-banner banner-top youplay-banner-parallax full">
        <div class="image" data-speed="0.4">
            <img src="/upload/2/648bc7ed1119d.jpg" alt class="jarallax-img">
        </div>
        <div class="info">
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h1>Forgot Password</h1>
                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert" style="background-color: red">
                                <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
                                <strong>Poor checked!</strong> @Model.ErrorMessage

                            </div>
                        }
                        @if (Model.SuccessMessage != null)
                        {
                            <div class="alert" style="background-color: rgb(0, 255, 102)">
                                <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
                                <strong>Lucky checked!</strong> @Model.SuccessMessage

                            </div>
                        }
                        <br />
                        <form method="POST">
                            <input type="hidden" name="_token" value="DnOQFjzFWSUiauzhg7PTqU8ZaHtLpOqemNzTCU4S" />
                            <span asp-validation-for="email" class="text-danger"></span>

                            <div class="youplay-input">
                                <input type="email" asp-for="email" placeholder="Email">
                            </div>
                            <button class="btn btn-default db" name="btnLogin1">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
